body{
    overflow-x:hidden;
   
}
:root{
    --dark-blue:#1d4567;
    --ash-blue:#5dd4e9;
    --light-yello:#faf39b;
    --light-orange:#ECB365;
    --bg-color:hwb(43 47% 9%);
    --browny:#54473F;

    --Topic:6em;
    --quote:2.5em;
} 


.header{
    background-color: beige;
    padding: 20px;
    margin: auto;
    display: flex;
   align-items: center;

}
.header i{
    color: black;
   
}
.header h3{
    font-size: 30px;
    margin-left: 500px;
    margin: auto;
   font-family: Roboto;
}


#menu{
    
    width: 300px;
    height: 10px;
    position: absolute;
    right: -510px;
    transition: .5s;
  
    
}
#menu ul{
    background-color: #faf39b;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50px;
}
#menu li{
    margin-top: 35px;
    list-style-type: none;
}
#menu a{
    border-radius: 20px;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    font-family: sour gummy;
    color: var(--dark-blue);
}
#menu a:hover{
    background-color: var(--light-orange);
    color: var(--dblue);
    transition: .5s;
}
#menub{
	/* border:2px solid white; */
    display: flex;
    position:absolute;
    width:50px;
    height:50px;
    background-position: center;
    background-size: cover;
    top:30px;
    right:40px;
    z-index: 1;
}
#menub img{
  height: 50%;
    width:50%;

}
#menub:hover{
    cursor: pointer;
}

.cart-wrapper{
    display: flex;
  margin: 45px;
  margin-left: 100px;
    flex-wrap: wrap;
    gap: 1rem; 
}
.cart-box{
    text-align: center;
    height: 100%;
    width: 15%;
    background-color: whitesmoke;
    padding: 20px;
justify-content: center;
margin: 25px;
   transition: 0.5s ease;
    overflow: hidden;
    transition: all 1s;
}
.cart-box:hover{
       transform: translateY(-10px);
       box-shadow: 0 0 8px black; 
}

.cart-box h3{
    background-color: goldenrod;

}
.cart-box img{
    height: 130px;
    width: 95%;
margin: auto;
margin-left:-0;

}
.cart-box button{
    border-radius: 5px;
    border: 1px solid black;
    background-color: wheat;
}
.cart-box button a{
    text-decoration: none;
    color: black;
}
.cart-box button:hover{
    background-color: antiquewhite;
    
}
.other-product-section{
   display: flex;
  margin: 45px;
  margin-left: 100px;
    flex-wrap: wrap;
    gap: 1rem;  
}

.other-product-section .cart-box h4{
    
    font-family: Roboto;
}

.contact{
    text-align: center;
    padding: 100px;
    min-height: 90vh;
  
    
}
.container{
    max-width: 500px;
    margin: 0 auto;
    box-shadow:0 2rem 1rem 1rem whitesmoke;
   padding: 20px;
}
.container h3{
    margin-bottom: 40px;
}
.contact-wrapper{
 text-align: left;
 
}
.contact-form{
text-align: left;

}
.form-group{
    margin-bottom: 10px;
}
input,textarea{
    width: 70%;
    padding: 12px;
    border-radius: 8px;
    
}
input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #abb;
}
#submit{
    display: inline-block;
    padding: 15px;
    background-color: green;
    border: none;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 10px;
}
#submit:hover{
    background-color: lightgreen;
}
.contact-info {
padding: 10px;
}
@media screen and(max-width:768px) {
    .container{
        padding: 20px;
    }
    .contact-wrapper{
        grid-template-columns: 1fr;
    }
}
.footer{
    text-align: center;
    background-color:dimgray;
}
