*{
    margin: 0;
    padding: 0;
}
/* navbar top */
.navbar-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.social-link i img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-link i img:hover{
    background-color: rgba(238,224,208);
    border-radius: 50px;
}


@media screen and (max-width:420px){
    .social-link i img{
        width: 20px;
    }
}
.logo h3{
    font-weight: bold;

}
@media screen and (max-width:420px){
    .logo h3{
        font-size: 20px;
    }
}
.icons i img{
    margin-left: 10px;
    cursor: pointer;
}
@media screen and (max-width:420px){
    .icons i img{
        width: 20px;
    }
}
/* navbar top */

/* main content */
.main-content{
    width: 100%;
    height: 90vh;
    background-image: url(./image/background.png);
    background-size: cover;
    background-position: 70%;
}

/* navbar */
#navbar-color{
    background-color: rgba(238,224,208);
}
.navbar-nav{
    margin: auto;
}
.nav-link{
    margin-left: 30px;
    font-weight: bold;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
}
.nav-link:hover{
    color: green;
}
/* navbar */

/* content */
.content{
    margin-top: 150px;
    margin-left: 60px;
}
.content h1{
    font-size: 50px;
    
}
#btn1 button{
    width: 150px;
    height: 32px;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn1 button:hover{
    background-color: green;
}
@media screen and (max-width:420px){
    .content h1{
        font-size: 30px;
    }
}
/* content */

/* main content */

/* card1 */
#btn2 button{
    width: 100px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
    border-radius: 5px;
}
#btn2 button:hover{
    background-color: rgba(238,224,208);

}
#offer:hover{
    box-shadow: 0 1rem 2rem rgba(134, 132, 132, 0.1);
}
/* card1 */

/* card2 */
#tpc{
    box-shadow: 0 0 5px black;
    transition: 0.5s ease;
    cursor: pointer;
}
#tpc:hover{
    transform: translateY(-10px);
}
/* card2 */

/*card3*/
#categouryh3{
    color:black;
text-align: center;
padding: 50px;
padding-bottom: 50px;
}
.categourybtn{
    border: 2px solid white;
    border-radius: 10px;
    background-color: blanchedalmond;
}
.categourybtn a{
    text-decoration:none;
    color: black;
    letter-spacing: 1px; 
}

.categourybtn a:hover{
    text-decoration: none;
    color: black;
    background-color:wheat;
    border-radius: 20px;
   

}
.boxes{
 
    align-items: center;
    align-content: center;
  height: 100vh;
}
.box{

    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 
    justify-content: center;
    align-items: center;
}
.wrapper{
position: relative;
width:300px;
height: 200px;
overflow: hidden;


}
.boximg{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 20px;
  
}
.containr{
    position: absolute;
    color:white;
    width:100%;
    height: 100%;
    top:-0%;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    transform: translateY(100%);
    transition:transform 0.5s;
}
.wrapper:hover .containr{
    transform: translateY(0%);
   
}
h1{
    color: azure;
    font-family: sans-serif;
}

   


/*card3*/

/* card4 */
#c{
    transition: all 1s;
}
#c:hover{
    box-shadow: 3px 3px 20px lightsteelblue;
}
#c p{
    font-weight: bold;
}
#btn3{
    text-align: center;
   
}
#btn3 a{
    text-decoration: none;
    color: black;
}
#btn3 button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
    border-radius: 10px;
}
#btn3 button:hover{
    background-color: rgba(238,224,208);
}

@media screen and (max-width:895px){
    #btn3 button{
        width: 100px;
    }
}
/* card4 */

#btn4 button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
    border-radius: 10px;
}
#btn4 button:hover{
    background-color: rgba(238,224,208);
}
/*about*/
#aboutus:hover{
    box-shadow: 3px 3px 20px lightsteelblue;
}
/*about end*/

/*contact*/
.contact{
    text-align: center;
    padding: 100px;
    min-height: 90vh;
  
    
}
.contact-container{
    max-width: 500px;
    margin: 0 auto;
   padding: 20px;
}
.contact-container  h3{
    margin-bottom: 40px;
}
.contact-wrapper{
 text-align: left;
 box-shadow: 0 0 8px #abb;
 padding: 100px;
 background: rgb(255, 255, 255);
}
.contact-form{
text-align: left;

}
.form-group{
    margin-bottom: 10px;
}
input,textarea{
    width: 120%;
    padding: 12px;
    border-radius: 8px;
}
input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #abb;
}
#submit{
    display: inline-block;
    padding: 15px;
    background-color: green;
    border: none;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 10px;
}
#submit:hover{
    background-color: lightgreen;
}
.contact-info {
padding: 10px;
margin-top: 20px;
}

/*contact*/

/*recomend*/
#recomend{
    height: 60%;
    background-color:white;
    padding: 10px;
    margin-top: 50px;
    }
    .recomend-wrapper h3{
    text-align: center;
    padding: 40px;
    }
    .recomend-container{
      display: flex;
       text-align: center;
       margin: 40px 0 0 40px;
    }
       
    .recomend-box{
        height: 100%;
      text-align: center;
     margin: 10px;
      border-radius: 20px;
     padding: 10px;
     background: rgb(255, 250, 250);
    }
    .recomend-box img{
        height: 100%;
        width: 100px;
       border-radius: 60px;
    }
    .stars{
        color:gold;
    }
    .recomend-box:hover{
        box-shadow: 1rem 0 1rem 0 hsl(230, 47%, 71%);
    transition: 1.5s;
    
    }
    @media screen and(max-width:768px) {
        .recomend-wrappe{
            padding: 20px;
        }
        .recomend-container{
            grid-template-columns: 1fr;
            margin: 5px 0 0 5px;
        }
    }
/*recomens end*/


/* footer */
#footer{
    width: 100%;
    background-color: black;
    margin-top: 50px;
}
#footer h1{
    color: white;
    padding-top: 20px;
}
#footer p{
    color: white;
}
.icons i{
    color: rgba(238,224,208);
    font-size: 30px;
    cursor: pointer;
}
.copyright{
    color: white;
    margin-top: 20px;
}
.credite{
    color: white;
}
/* footer */